
server:
  port: ${SERVER_PORT:8093}

spring:
  application:
    name: ms-notification

  # =============================================================================================
  # POSTGRES CONFIGURATION
  # =============================================================================================
  datasource:
    hikari:
      connection-timeout: ${DATASOURCE_CONNECTION_TIMEOUT:20000}
      maximum-pool-size: ${DATASOURCE_MAX_POOL_SIZE:5}

    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/ms-notification}
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: ${SHOW_SQL:false}
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: ${FORMAT_SQL:true}
        show_sql: ${SHOW_SQL:false}

  # =============================================================================================
  # FLYWAY CONFIGURATION
  # =============================================================================================
  #  flyway:
  #    enabled: true
  #    baseline-on-migrate: true
  #    locations: classpath:db/migration


  # =============================================================================================
  # KAFKA CONFIGURATION
  # =============================================================================================
  kafka:
    #bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}

    # Producer configurations
    producer:
      # Critical producer settings (high durability)
      critical:
        acks: all
        enable-idempotence: true
        retries: 2147483647  # Integer.MAX_VALUE
        delivery-timeout-ms: 120000
        request-timeout-ms: 30000
        max-in-flight-requests-per-connection: 5
        compression-type: snappy
        linger-ms: 10
        batch-size: 16384

    # Topics
#    topics:
#      payment-approved: ${KAFKA_TOPIC_PAYMENT_APPROVED:payment.approved.v1}
