spring:
  application:
    name: tdd
  datasource:
    url: jdbc:h2:mem:tdd;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
