apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://localhost:3200
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        query: '{service="$${__span.tags.service}"} | json | trace_id="$${__trace.traceId}"'

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://localhost:3100
    jsonData:
      derivedFields:
        - name: TraceID
          datasourceUid: tempo
          matcherRegex: '"trace_id"\s*:\s*"([0-9a-f]{32})"'
          url: '$${__value.raw}'
          urlDisplayLabel: 'View trace'
